body{
  background-image: url(https://i.pinimg.com/originals/76/d7/01/76d701b907da257137c81b7c69523c01.gif);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

.site-font {
  font-family: 'Press Start 2P', cursive;
  color: aqua;
}
.font-size {
  font-size: 10px;
}
.font-size-two {
  font-size: 13px;
}

.rotate-icon {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}


.card.game-card {
  min-width: 10rem;
  min-height: 10rem;
  background: rgba(0, 255, 42, .15);
  border-left: 10px solid grey;
  text-shadow: 1px 1px 2px limegreen;
  margin-bottom: 1em;
}

.cursor-pointer{ 
  cursor:pointer;
}

.button-bg{
  background: rgb(0, 223, 252);
  box-shadow: 1px 1px 5px black; 
}

.btn {
  min-width: 75px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  }
  
.disabled {
  background-color: rgb(255, 0, 0);
}